# Entorno virtual
venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de datos (carpeta datos/)
datos/

# Modelo serializado (si quieres ignorarlo, pero el taller lo necesita)
# *.pkl  

# Configuración local 
.env

# Archivos del sistema (macOS/Windows)
.DS_Store
Thumbs.db

# Archivos temporales de editores
*.swp
*.swo
*.log
